<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


<style>
         .card1 {
            width: 200px;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            text-align: center;
            display: inline-block;
        }

        .card1 img {
            max-width: 100%;
            height: auto;
        }

        .stars1 {
            color: gold;
        }

        .price1 {
            margin-top: 10px;
            font-weight: bold;
        }

        .add-to-cart1 {
            margin-top: 10px;
            background-color: #4caf50;
            color: white;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

</style>


</head>

<body>
<div class="main-card" style="text-align: center;">
  <h1 class="text-center" style="color: darkgreen;">Featured Products</h1>

    <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
</div>   <br><br>

<div class="main-card" style="text-align: center;">
  <h1 class="text-center" style="color: darkgreen;">New Products</h1>


    <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
</div>   <br><br>

<div class="main-card" style="text-align: center;">
  <h1 class="text-center" style="color: darkgreen;">Special Products</h1>


    <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
</div>   <br><br>

<div class="main-card" style="text-align: center;">
  <h1 class="text-center" style="color: darkgreen;">Best Sellers</h1>

    <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
</div>   <br><br>

<div class="main-card" style="text-align: center;">
  <h1 class="text-center" style="color: darkgreen;">All Products</h1>
    <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
        <div class="card1">
      <img src="./static/images/Vegetable-Seeds.jpg" alt="Product 1">
      <div class="stars1">★★★★★</div>
      <div class="name1">Garam masala</div>
      <div class="price1">$19.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Dry-Fruits.jpg" alt="Product 2">
      <div class="stars1">★★★★☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$29.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/Tree-Seeds.jpg" alt="Product 3">
      <div class="stars1">★★★★★</div>
      <div class="name1">garam masala</div>
      <div class="price1">$24.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>

  <div class="card1">
      <img src="./static/images/instant-masala.jpg" alt="Product 4">
      <div class="stars1">★★★☆☆</div>
      <div class="name1">sambar powder</div>
      <div class="price1">$39.99</div>
      <button class="add-to-cart1">Add to Cart</button>
  </div>
</div>
    {% for item in items %}
        <div class="card1">
            <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 100px; height: 100px;">
            <div class="stars1">★★★★★</div>
            <div class="name1">{{ item.name }}</div>
            <div class="price1">${{ item.price }}</div>
            <button class="add-to-cart1" onclick="addToCart({{ item.id }})">Add to Cart</button>
        </div>
    {% endfor %}

    <div id="cart">
        <!-- Cart items will be displayed here -->
    </div>

    <script>
        function addToCart(itemId) {
            // Implement your logic to add the item to the cart
            console.log(`Added item ${itemId} to the cart.`);

            // Update the cart display
            updateCartDisplay();
        }

        function updateCartDisplay() {
            // Fetch and display the cart items dynamically (AJAX could be used here)
            const cartDiv = document.getElementById('cart');
            // For simplicity, let's just display a message
            cartDiv.innerHTML = '<p>Cart Items:</p><p>Item 1</p><p>Item 2</p>';
        }
    </script>
</body>
</html>